absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
anyio
async-timeout
attrs
audioread
babel
bangla
blinker
blis
bnnumerizer
bnunicodenormalizer
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
contourpy
coqpit
cryptography
cycler
cymem
Cython
dateparser
decorator
distro
dnspython
docopt
einops
email_validator
encodec
exceptiongroup
fastapi
filelock
Flask
fonttools
frozenlist
fsspec
g2pkk
greenlet
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut_lang_fr
h11
hangul-romanize
httpcore
httpx
huggingface-hub
idna
inflect
itsdangerous
jamo
jieba
Jinja2
jiter
joblib
jsonlines
jwt
kiwisolver
langcodes
language_data
lazy_loader
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
mpmath
msgpack
multidict
murmurhash
networkx
nltk
num2words
numba
ollama
openai
packaging
pandas
pillow
platformdirs
pooch
preshed
protobuf
psutil
PyAudio
pycparser
pydantic
pydantic_core
pydub
Pygments
PyJWT
pynndescent
pyparsing
pypinyin
pysbd
python-crfsuite
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
regex
requests
rich
safetensors
scikit-learn
scipy
shellingham
six
smart-open
sniffio
sounddevice
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
srsly
starlette
SudachiDict-core
SudachiPy
sympy
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tokenizers
tqdm
trainer
transformers
TTS
typeguard
typer
typing_extensions
tzdata
tzlocal
umap-learn
Unidecode
urllib3
uvicorn
wasabi
weasel
websockets
Werkzeug
wrapt
yarl
